### CRUD OPERATIONS
```
C : CREATE
R : READ
U : UPDATE
D : DELETE
```

In [ ]:
# Installing pymysql library

!pip install pymysql

In [2]:
# Importing pymysql librarry

import pymysql

In [3]:
# Creating a connection object

cnxn = pymysql.connect(host="localhost",
                      user="root",
                      passwd="123@123") 

if cnxn:
    print("Connected with mysql successfully...")
else:
    print("Something went wrong...")

Connected with mysql successfully...

In [4]:
# Creating a database

cnxn = pymysql.connect(host="localhost",
                      user="root",
                      passwd="123@123") 
# Creating a cursor
cursor = cnxn.cursor()

# Writing sql query
query = "create database cetpa_db;"

# Executing sql query
cursor.execute(query)

# Writing another sql query
query1 = "show databases;"

# Executing sql query

cursor.execute(query1)

for db in cursor:
    print("List of databases: ", db)
    
# Closing connection    
cnxn.close()

List of databases:  ('cetpa',)
List of databases:  ('cetpa_db',)
List of databases:  ('college',)
List of databases:  ('information_schema',)
List of databases:  ('mysql',)
List of databases:  ('performance_schema',)
List of databases:  ('sakila',)
List of databases:  ('sample_db',)
List of databases:  ('sys',)
List of databases:  ('world',)

In [5]:
# Creating a table inside "cetpa_db"

cnxn = pymysql.connect(host="localhost",
                      user="root",
                      passwd="123@123",
                      database="cetpa_db") 
# Creating a cursor
cursor = cnxn.cursor()

# Writing sql query
query = """
create table employee(
id int primary key,
name char,
age int,
salary float,
address char
);
"""

# Executing sql query
cursor.execute(query)

# Writing another sql query
query1 = "show tables;"

# Executing sql query

cursor.execute(query1)

for table in cursor:
    print("List of tables: ", table)
    
# Closing connection    
cnxn.close()

List of tables:  ('employee',)

In [8]:
# Inserting data into the table

cnxn = pymysql.connect(host="localhost",
                      user="root",
                      passwd="123@123",
                      database="cetpa_db") 
# Creating a cursor
cursor = cnxn.cursor()

# Writing sql query
query = """
insert into employee values(34,'s',20,35000,'d'),
(24,'s',22,45000,'m'),
(12,'a',29,56899,'n');
"""

# Commiting data
cnxn.commit()

# Executing sql query
cursor.execute(query)

# Writing another sql query
query1 = "select*from employee;"

# Executing sql query

cursor.execute(query1)

for row in cursor:
    print("Rows: ", row)
    
# Closing connection    
cnxn.close()

Rows:  (12, 'a', 29, 56899.0, 'n')
Rows:  (24, 's', 22, 45000.0, 'm')
Rows:  (34, 's', 20, 35000.0, 'd')

In [ ]:
# Salary

id, number_of_days,total_salary